<!DOCTYPE html>
<html lang="en">
<head>
    <title> profile page </title>
</head>
<body>

<div class="profilecontainer">
    <div class="padding">
        <div class ="form-group">
            <label>Date of Birth</label>
            <input type="date" class="form-control" name="dob" placeholder="Enter your date of birth">
        </div>
        <div class="form-group">
            <label>contact information</label>
            <input type="text" class="form-control" name="contactinfo" placeholder="enter your address">
        </div>
        <div class="form-group">
            <label>Location</label>
            <input type="text" class="form-control" name="location" placeholder="enter your location ">
        </div>
        <div class="add" ng-controller="add">
            <span class="addstyle"><a ng-click="loadadvertisement();" >Add Advertisement</a></span>
        </div>
    </div>

</div>





</body>
</html>